@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan agar background body rata */
body {
  @apply bg-gray-50 text-gray-800;
}

@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-15px) rotate(1deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: #f1f5f9; rounded: 10px; }
::-webkit-scrollbar-thumb { background: #10b981; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #059669; }